{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}


{% block title %} Студенты {% endblock title %}


{% block content %}


{% if messages %}
  {% for message in messages %}
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">{{ message }}</h3>
    </div>
  </div>
  {% endfor %}
{% endif %}

  <form class="text-right" action="{% url 'students:add' %}">
      <button type="submit" class="btn btn-success" value="Add">
        <span class="glyphicon glyphicon-plus"></span> Добавить студента
      </button>
  </form>

  <h2>{{ h2_text }}</h2>
  {% if object_list %}
   <table  class="table table-striped ">
    <thead>
      <tr>
       <th>#</th><th>ФИО</th><th>Староста</th><th></th><th></th><th></th>
      </tr>
    </thead>
    <tbody>
    {% for student in object_list %}
      <tr>
       <td>{{ forloop.counter }}</td>
       <td class="intro-text"><a href="{% url 'students:detail' student.id %}">
           {{ student.full_name }}</a></td>
       <td>
           {% if student in headmans %}
                <span class="glyphicon glyphicon-plus"></span>
           {% else %}
                <span class="glyphicon glyphicon-minus"></span>
           {% endif %}
           </td>
        <td>
          <form action="{% url 'students:edit' student.id %}">
            <button type="submit" class="btn btn-warning" value="Edit">
              <span class="glyphicon glyphicon-pencil"></span> Редактировать
            </button>
          </form>
        </td>
        <td>
          <form action="{% url 'students:delete' student.id %}">
            <button type="submit" class="btn btn-danger" value="Delete">
              <span class="glyphicon glyphicon-trash"></span> Удалить
            </button>
          </form>
        </td>
       <td>
         <form action="{% edit_list student %}">
            <button type="submit" class="btn btn-success" value="AdminEdit">
              <span class="glyphicon glyphicon-user"></span> Админ
            </button>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p><br />Нет студентов.</p>
  {% endif %}

{% endblock content %}
