{% extends 'base.html' %}
{% load staticfiles %}


{% block title %} Группы {% endblock title %}


{% block content %}


{% if messages %}
  {% for message in messages %}
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">{{ message }}</h3>
    </div>
  </div>
  {% endfor %}
{% endif %}

  <form class="text-right" action="{% url 'groups:add' %}">
      <button type="submit" class="btn btn-success" value="Add">
        <span class="glyphicon glyphicon-plus"></span> Добавить группу
      </button>
  </form>

  {% if object_list %}
  <h2>Список групп</h2>
   <table  class="table table-striped ">
    <thead>
      <tr>
       <th>#</th><th>Группа</th><th>Количество</th><th>Староста</th><th></th><th></th>
      </tr>
    </thead>
    <tbody>
    {% for group in object_list %}
      <tr>
       <td>{{ forloop.counter }}</td>
       <td class="intro-text"><a href="{% url 'students:index' %}?group_id={{ group.id }}">
           {{ group.name }}</a></td>
       <td>{{ group.amount_person }}</td>
       <td>
           {% if group.headman %}
                {{ group.headman.full_name }}
           {% else %}
                Не выбран
           {% endif %}
       </td>
       <td>
          <form action="{% url 'groups:edit' group.id %}">
            <button type="submit" class="btn btn-warning" value="Edit">
              <span class="glyphicon glyphicon-pencil"></span> Редактировать
            </button>
          </form>
        </td>
        <td>
          <form action="{% url 'groups:delete' group.id %}">
            <button type="submit" class="btn btn-danger" value="Delete">
              <span class="glyphicon glyphicon-trash"></span> Удалить
            </button>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p><br />Нет студентов.</p>
  {% endif %}

{% endblock content %}
